<?php

namespace Tyorkin\HyperParserApplication\Config;

class Config
{
    private static $mongodbHost = "%mongodbHost%";
    private static $mongodbName = "%mongodbName%";
    private static $mongodbUser = "%mongodbUser%";
    private static $mongodbPort = "%mongodbPort%";
    private static $mongodbPassword = "%mongodbPassword%";
    private static $fileReportDir = "%fileReportDir%";

    /**
    * @return array
    */
    public static function getMongoConfig(): array
    {
        return array(
            "dbHost" => self::$mongodbHost,
            "dbName" => self::$mongodbName,
            "dbUser" => self::$mongodbUser,
            "dbPort" => self::$mongodbPort,
            "dbPassword" => self::$mongodbPassword
        );
    }

    /**
    * @return string
    */
    public static function getFileReportDir(): string
    {
        return self::$fileReportDir;
    }
}